"*":
  "Remote-FTP": {}
  "atom-beautify":
    _analyticsUserId: "5ae92ac1-6ad4-4101-a578-dd420683655d"
    _loggerLevel: "error"
    general:
      _analyticsUserId: "6a3ccb71-570a-40f1-bd3a-d32d09873138"
    php_cs_fixer_path: "/usr/local/bin/php-cs-fixer"
    sql_indent_size: 2
  "autoclose-html": {}
  "autocomplete-plus": {}
  core:
    audioBeep: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".hgflow"
      ".hgignore"
      ".hgtags"
      ".hgcheck"
    ]
    packagesWithKeymapsDisabled: [
      "atom-fis3-smarty"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    lineHeight: 1.2
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
  "exception-reporting":
    userId: "323d60fb-5bac-8696-f1ac-04ee74c1f249"
  "export-html":
    openIn: "browser"
  "highlight-line":
    enableBackgroundColor: false
  linter: {}
  "linter-php":
    executablePath: "/Users/keiju/.phpbrew/php/php-7.0.12/bin/php"
  "linter-ui-default":
    hidePanelWhenEmpty: true
    panelHeight: 69
  minimap:
    absoluteMode: true
    plugins:
      "minimap-autohide": true
      "minimap-autohideDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
      "minimap-hide": true
  "php-debug":
    currentPanelMode: "bottom"
  "symbols-tree-view":
    autoHide: true
    autoToggle: true
  "trailing-spaces":
    enableForCursorLines: true
    enableForIndentation: true
  "tree-view":
    hideIgnoredNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".html.php.text":
  editor:
    softWrap: false
    tabLength: 4
".perl.source":
  editor:
    tabLength: 4
